.wrapTable {
  width: 90%;
  padding: 50px;
  margin: 50px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

  @media (min-width: 800px) {
    width: 70%;
  }

  h2 {
    font-weight: 500;
  }

  h3 {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 40px 0;

    @media (min-width: 800px) {
      font-size: 1.5rem;
      margin: 0 0 50px 0;
    }
  }
}
