header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: white;
  background-image: var(--mainGradient);
}

.wrapHeadings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1,
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;

    @media (min-width: 800px) {
      font-size: 2.5rem;
    }
  }
}
